/* Basic Page Styles for Demonstration */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 40px;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin-bottom: 20px;
}
.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu > li > a {
  display: block;
  padding: 15px 25px;
  background-color: #0e1d34;
  color: #ffffff;
  text-decoration: none;
}
.dropdown {
  position: relative; 
}

.dropdown i {
  font-size: 0.75rem;
  margin-left: 5px;
  vertical-align: middle;
}

.dropdown a {
  color: #212529;
  text-decoration: none;
  transition: all 0.25s;
  white-space: nowrap; 
}

.dropdown a:hover {
  color: #0d42ff;
}
.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  transform: scaleY(0); 
  transform-origin: top;
  opacity: 0;
  background-color: #ffffff;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.sub-menu > li {
  padding: 0.5rem 1rem;
}
.dropdown:hover > .sub-menu {
  transform: scaleY(1);
  opacity: 1;
}
.side-menu {
  top: 0;
  right: 100%;
  left: auto;
  transform-origin: top right;
}
